.root {
  max-width: 700px;
  margin: 2rem auto;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 8em;
}

.dropZone {
  width: 300px;
  height: 240px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  display: flex;
  justify-content: center;
}

.modal_header {
  font-weight: 500;
}

.modal_body {
  display: flex;
  justify-content: center;
}