.banner {
    color: white;
    object-fit: contain;
    height: 448px;
    background-size:cover;
    /* background-image: "https://cdn.pixabay.com/photo/2020/09/09/02/12/smearing-5556288_1280.jpg"; */
    background-position: center center;
}

.banner__contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;

}

.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color: white;
}

.banner__description{
    margin-left: 30px;
    width :45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 400px;
    height:80px;
    margin-top: 80px;
    color: white;
}

.banner__btn{
    cursor: pointer;
    color: white;
    outline: none;
    border:none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left:2rem ;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    background-color: rgb(68, 68, 68,0.5);

}

.banner__btn:hover{
    color:black;
    background-color: whitesmoke;
    transition: all 0.2s;
}


.banner--Bottom{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}