.page {
  background-color: black;
      height: 100vh;
    }


.title {
    color: white;    
    margin-left: 350px;
    margin-top: 40px;
}

.page__background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

.row{
  color:white;
  margin-left: 20px;
}

.row__posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding:20px;
}

.row__poster{
  object-fit: contain;
  width:100%;
  max-height: 308px;
  margin-right: 10px;
  transition: transform 450ms;
}
.row__posters::-webkit-scrollbar{
  display: none;
}
/* .row_poster:hover{
  transform: scale(1.08);
} */
  .poster {
  width: 220px;
  height: 308px;
  border-radius: 7px;
  margin: 10px;
  float:left;
  margin-left: 20px;

  }


  .modal_header {
      font-weight: 500;
      background-color: #242424;
      color: white;
    
  }

  .modal_body {
    background-color: #000000;
    height:100%;
    color: white;
  
}
  
  

  .video {
    width: 180px;
    height: 120px;
    border-radius: 7px;
    margin: 10px;
    cursor: pointer;
  }

  .video:hover {
    transform: scale(1.1);
    transition: transform 0.35s;
  }

 
  .Text1{
    margin-left: 20px;
    color: gray;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 700;
    margin-top: 40px;
}
.Text2 {
    margin-left: 20px;
    margin-top: 30px;
    color: white;    
  font-size: 20px;
  font-family: Poppins;
  font-weight: 700;
}
.FrameRoot{
    border :black;
    display: grid;
   background-color: rgb(0, 0, 0);
  width: 100%;
  /* height: 280px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 20px;

  border-radius: 3px;
  border: 1px solid rgb(233, 233, 233,0.3);
  
}
.Image1{
  width: 337px;
  height: 389px;
}

.PurpleHeartText{
  color: #ffffff;
  display: flex;
  /* font-size: ; */
  font-family: Poppins;
  font-weight: 500;
  background-color: #8e3bf1;
  width: 220px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}


  .thumbnail {
    width: 149px;
    height: 100px;
    border-radius: 7px;
    margin: 10px;
  }



  
  
  
.Cbody {
   padding-top: 80px;
    display: grid;
    background-color: #000000;
    min-height: 80%;
  background-color: black;

  }
  
  .card {
    overflow: hidden;
    display: grid;
    height: 200;
    background-color:black;
  /* border-radius: var(--radius); */
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  /* transition: transform 200ms ease-in; */
    
  }
    .image {
      /* object-fit: cover; */
      width: 149px;
    height: 100px;
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;

    }
  
    
  
    .description {
      padding: 0 1rem;
    }
  
    .Cbtn {
        width: 80px;
        height: 40px;
	color:white;
	background: rgb(82, 90, 206);
	border: 0px solid #ffffff;
	/* padding: 10px; */
	border-radius: 5px;
	font-weight: bold;
    text-align: center;
    position: absolute; 
    right: 40px; 
    /* bottom: 0px; */

    
    }
  
    card:hover {
      transform: scale(1.02);
    }
  
    .Cbtn:hover {
        background: black;
        color: #ffffff;
        cursor: pointer;
    }
    
    .Cbtn:active {
        background: black;
        color: #ffffff;
    }
    
    .Cbtn:focus {
        background-color: black;
        outline:0;
    }
  
 .box{
   width: 220px;
   height: 340px;
   margin: 10px;
   color : white;
   display: grid;
   float: left;

 }

  .box1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color : white;

  }
  
  .box2{
    height: 100%;
    width:60%;
    justify-content: left;
    margin: 20px;
    color : white;

  }

  .box3{
    height: 200px;
    width:40%;
    justify-content: right;
    margin: 20px;
    align-items: center;
    justify-content: center;
    color : white;

    /* border: 5px solid rgb(104, 104, 104);
    border-radius: 7px; */
  }

  .box4{
    height: 100px;
    width:40%;
    justify-content: center;
    margin: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color : white;

  }

  .klay{
    font-size: 30px;
    color: rgb(245, 245, 245);
    float: right;
  }

  .sell{
    margin-top: 5px;
    font-size: 20px;
    color: rgb(231, 231, 231);
    float: left;
  }

  .buyBtn{
    width: 100%;
    height: 40px;
  color:white;
  background: rgb(53, 59, 145);
  border: 0px solid #ffffff;
  /* padding: 10px; */
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-display: flex;
  margin-top: 100px;
  font-size: larger;
  padding: 7px;
  
  
  }

  .nick{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color : white;

  }

  .creater{
    margin-left: 30px;
    font-size: 20px;
    color: gray;
  }
  
  .buyBtn:hover {
    background: black;
    color: #ffffff;
    cursor: pointer;
}

.buyBtn:active {
    background: black;
    color: #ffffff;
}

.buyBtn:focus {
    background-color: black;
    outline:0;
}

